*{margin: 0px;
padding: 0px ;}

.bgMaroon{
    background-color: #BBA670;
}

a{
    color: #BBA670;
}



th{
    color: #BBA670;
}

section {
    color: #BBA670;
    font-size: 18px;
    margin: 50px;
    align-items: center;
    background-color: #1B2118;
    height: 500px;
    
    
}


.barraNavegacion_lista{
    list-style: none;

}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    font-family: 'Sarabun', sans-serif;
    line-height: 50px;
    letter-spacing: 15px;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    font-size: 35px;
}

th{
    color: #BBA670;
}

.cabecera__logo{width: 100px; 
    height: 100px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cabecera__barraNavegacion__lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.cabecera__barraNavegacion__lista li{ 
    display: inline-block;
    padding: 30px;
    margin:auto;
    align-items: center;
}
nav{
    display: inline-block
}

header{
    background-color: #1B2118;
    position: sticky;
    top: 0;
}

.imagenes__cuadro{
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    width: 300px;
    margin: 10px;
    margin-left: 25px;
    
}

.cabeceraGaleria{
    color: #BBA670;
    background-image: linear-gradient(#1B2118, #BBA670);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
   
}
.cabeceraGaleria h1{
    display: inline-block;
    padding: 30px;
    margin:auto;
    align-items: center;
}

.cabeceraContacto{
    color: #BBA670;
    background-image: linear-gradient(#1B2118, #BBA670);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.cabeceraContacto h1{
    display: inline-block;
    padding: 30px;
    margin:auto;
    align-items: center;

}


.cabecera{ 
    display: flex ;
    flex-wrap: wrap;    
    background-image: linear-gradient(#1B2118, #BBA670);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
}


.iconos{
    background-color: #1B2118;
}

.iconos li{
    margin: 1rem;
}

.footer__iconos{
    display: flex;
    justify-content: space-evenly;

}

.ubicacion{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
}

.imagenes{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    
}

form{
    padding: 100px;
    margin: 70px auto;
    background-color: #1B2118;
    color: #BBA670;
    font-size: 18px;
    height: 500px;
    }

.textoGaleria{
    color: #BBA670;
}

.fondoContacto{
    background-image: url("imagenes/Fondo\ de\ pantalla.jpg") ;
}

.bgGaleria{
    background-image: url("imagenes/Fondo\ de\ pantalla.jpg");
    margin: none;
}

.headerMain{
    background-color:#BBA670;
}

.logo_Cabecera{
    width: 100px;
}
.nav-link{
    font-size: 20px;
}


.footer__logo{   
    width: 80px;
}
.carousel-item{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
}
.carrusel__contenedor{
    margin-top: 80px;
}

.texto__contenedor{
   margin-top: 70px;
}





@media only screen and (max-width:900px){
    .texto{
        display:flex;
        flex-direction:column;
        
    }
}

@media only screen and (max-width:900px){
    h1{
        font-size: 50px;
    }
}









