.cabeceraGaleria{
    color:$color-principal;
    background-image: linear-gradient(#1B2118, $color-principal);
    @extend %flex-general;
    justify-content: space-between;

    .cabecera__logo{width: 100px; 
        height: 100px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        }
       
   
}
.cabeceraGaleria h1{
   @include flexbox (30px, auto , center)
}

.imagenes{
    background-color: none;
    display: flex;
    flex-wrap: wrap;

    .imagenes__cuadro{
        display: flex;
        flex-wrap: wrap;
        height: 380px;
        width: 300px;
        margin: 10px;
        margin-left: 25px;
        
    }
    
}

.textoGaleria{
    color:$color-principal;}

.bgGaleria{
    background-image: url("imagenes/Fondo\ de\ pantalla.jpg");
    margin: none;
    }    
 




